.aboutTitle {
  font-size: 100px;
  margin-top: -50px;
  font-weight: 400;
}
.aboutImg {
  margin-left: 200px;
  margin-top: 300px;
}
.aboutText {
  font-size: 16px;
  line-height: 1.5;
}
.aboutSecLeftText {
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (max-width: 830px) {
  .aboutImg {
    margin-left: 100px !important;
    margin-top: 100px !important;
  }
  .aboutIslandImg {
    margin-top: -80px;
  }
}

@media screen and (max-width: 430px) {
  .aboutImg {
    width: 300px;
    height: 200px;
  }
  .aboutTitle {
    font-size: 70px;
    margin-top: -50px;
  }
  .aboutText {
    padding: 0 20px;
  }
  .aboutImg {
    margin-left: 50px !important;
    margin-top: 0px !important;
  }
  .aboutIslandImg {
    margin-top: 0px;
  }
  .aboutSecLeftText {
    padding: 0 20px;
    margin-top: 20px;
  }
  .aboutIslandImg {
    margin-top: 0px;
  }
}
