.radio {
  accent-color: #215519;
  /* width: 20px;
  height: 20px; */
}

@media screen and (max-width: 830px) {
  .contactImg {
    width: 500px;
    height: 500px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 430px) {
  .contactImg {
    width: 300px;
    height: 300px;
  }
  .contactMic {
    width: 300px;
    height: 275px;
  }
}
