@media screen and (max-width: 830px) {
  .firstImg {
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-left: 0px;
  }
  .first {
    background-image: url("/images/our-values/first-green-bg-mb.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }
}

@media screen and (max-width: 430px) {
  .firstImg {
    width: 300px;
    height: 300px;
  }
  .secondImg {
    width: 300px;
    height: 260px;
    margin-top: 50px;
  }
  .thirdImg {
    width: 260px;
    height: 260px;
    margin-top: -100px;
  }
  .fourthImg {
    width: 300px;
    height: 260px;
  }
  .fifthImg {
    width: 240px;
    height: 260px;
  }
  .sixthImg {
    width: 260px;
    height: 260px;
  }
}
